@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Serif', serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

p {
    margin: 1rem;
    display: block;

    font-family: 'Roboto', sans-serif;
}

button {
    margin: 1rem;
    padding: .25em .75em;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}



.full-vp {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 20vh 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
.word-to-translate {
    font-size: 1.5rem;
}


.from,
.to {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.word-to-translate {
    flex: 1 0 auto;
    text-align: center;
}

.translation-input-form {
    flex: 1 0 auto;
    text-align: center;
}

.translation-input-form input {
    padding: .5rem 1rem;
    text-align: center;
}



.user-feedback {
    text-align: center;
}

.win {
    /* background-color: green; */
}

.loose {
    /* background-color: red; */
}