@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Serif', serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --whiteish: rgb(250, 249, 246);
    --blackish: rgb(39, 39, 39);
}

body {
    min-width: 300px;
    width: 100vw;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

    background-color: var(--whiteish);
    color: var(--blackish);
}

p {
    margin: 1rem;
    display: block;

    font-family: 'Roboto', sans-serif;
}

button {
    margin: 1rem;
    padding: .25em .75em;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;

    background-color: white;
    color: var(--blackish);
    border: 1px solid var(--blackish);
    border-radius: 3px;

    transition: all .2s ease;
}
button:hover {
    color: white;
    background-color: var(--blackish);
}



.full-vp {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 20vh 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

input,
.word-to-translate {
    font-size: 1.5rem;
    font-weight: 500;
}



.grid {
    display: grid;
    align-items: center;
    grid-template-areas: 
        'language-from word pass'
        'language-to input . '
    ;
    max-width: 500px;
    margin: 0 auto;
}
.language.from { grid-area: language-from; }
.word-to-translate { grid-area: word; }
form.pass { grid-area: pass; }
.language.to { grid-area: language-to; }
.translation-input-form { grid-area: input; }

.word-to-translate {
    text-align: center;
}

input {
    padding: .5rem 1rem;
    text-align: center;
    width: 100%;
    font-family: 'Roboto Serif', serif;
}

::placeholder {
    font-weight: 200;
    font-size: 1rem;
}

.verificationStatusMsg {
    text-align: center;
}

.bigger {
    font-size: 2rem;
}

.end-condition {
    font-size: 1.5rem;
    font-weight: 500;
}